:root {
--sidebar-size: 250px;
}

nav.navbar {
  background: var(--clr-nav);
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 0;
}

.ham {
  background: var(--clr-nav);
  border: none;
  margin-left: .5em;
}

.ham svg {
  width: 30px;
  height: 30px;
}

.post-content {
  padding: 1em;
}

.banner a {
  color: var(--clr-head);
  font-size: 1.3em;
  font-family: var(--font-serif);
  margin-right: 1em;
  text-decoration: none;
}


.nav-links {
  width: 100%;
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;

  width: var(--sidebar-size);
  height: 100vh;
  position: absolute;

  background: var(--clr-nav);
}

.ham-transform {
  transform: translateX(calc(var(--sidebar-size) - 10px));
}

.nav-links-show {
  display: flex;
}

.nav-links li {
  border-radius: 2px;
  padding: .3em;
}

.nav-links li a {
  width: 100%;
  font-size: 1.1em;
  color: inherit;
  text-decoration: none;
}

.nav-links li:active {
  background: var(--clr-nav);
}

@media only screen and (min-width: 750px) {
  .nav-links {
    width: 90%;
    height: auto;
    display: flex;
    position: static;
    background-color: transparent;
  }

  .post-content {
    margin-left: min(30%, 300px);
    padding: 1em;
  }

  .banner {
    font-size: 1.5em;
  }

  nav.navbar {
    position: fixed;
    background: var(--clr-aside);
    height: 100vh;
    width: 30%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }


  .ham {
    display: none;
  }
}
